html,
body {
  font-family: "Raleway-Regular";
  font-size: 100%;
  background: #e5e5e5 !important;
}
@font-face {
  font-family: "Raleway-Regular" !important;
  src: url(.././src/fonts/glyphicons-halflings-regular.ttf) format("truetype");
}
li {
  list-style: none;
  margin: 0;
}
p {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}
